body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

#title{
	text-align: center;
	color:rgb(0, 0, 0)
}
#title5{
	text-align: center;
	color:#ff5e0e;
}
.container100{
	width:100%;
	margin:auto;
	overflow:hidden;
}
.container80{
	width:80%;
	margin:auto;
	overflow:hidden;
}


.container90{
	width:90%;
	margin:auto;
	overflow:hidden;
	text-align: left;
}

#main-header{
	background-color:coral;
	color:#fff;
}

#showcase{
	background-image:url('../images/showcase.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
	color:red;
	font-size: 20px;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:50%;
	padding:0 30px;
	box-sizing: border-box;
}
#main1{
	float: none;
	width:100%;
	padding:0 30px;
	box-sizing: border-box;
}
#sidebar{
	float:right;
	width:50%;
	background: rgb(0, 0, 0);
	color:rgb(255, 255, 255);
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: rgb(0, 0, 0);
	color:rgb(255, 255, 255);
	text-align: center;
	padding:20px;
	margin-top:40px;
}

body {background-color:#ffffff;}

.tab1 {
	display: inline-block;
	margin-left: 90px;
}
.body1 {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
  }
.tab2 {
	display: inline-block;
	margin-left: 90px;
}

.tab3 {
	display: inline-block;
	margin-left: 22px;
}

.tab4 {
	display: inline-block;
	margin-left: 49px;
}

.tab5 {
	display: inline-block;
	margin-left: 93px;
}

.tab6 {
	display: inline-block;
	margin-left: 74px;
}
 
.button {
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  
  .button1 {
	background-color: #ff5e0e; 
	color: black; 
	border: 2px solid #ff5e0e;
  }
  
  .button1:hover {
	background-color: #ff5e0e;
	color: white;
  }
  
  .button2 {
	background-color: white; 
	color: black; 
	border: 2px solid #008CBA;
  }
  
  .button2:hover {
	background-color: #008CBA;
	color: white;
  }
